.ppt-section-header input {
    color: white;
    background-color: rgb(34, 37, 42);
    font-family: Asap, sans-serif;
    font-size: 14px;
    margin: 8px;
}

.exprtio-header {
    background-image: url('image/exprtio-small.png');
    background-size: 300px;
    height: 100px;
}

.auto-height {
    height: auto;
}

.exprtio-response {
    line-height: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.exprtio-node {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 1px;
}

.exprtio-edge {
    stroke: #777;
    stroke-width: 2px;
}
